assignment3.db
bak/
venv/
__pycache__/
templates/feedback_from_student_bak.html
templates/feedback_to_instructor_or.html
feedback_old.html
demo.log
demo.log
__pycache__/app.cpython-36.pyc
__pycache__/app.cpython-36.pyc
.gitignore
__pycache__/app.cpython-36.pyc
templates/index_old.html
