.form_container {
    margin: auto;
}

.login {
    width: 47%;
    padding: 1%;
    background-color: white;
    min-width: 400px;
    border: solid 1px;
    box-shadow: 1px 2px #888888;
    text-align: center;
    height: fit-content;
}

button {

    background-color: #0086ea;
    border: solod 1px black;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

form {
    display: block;
    margin-top: 0em;
}

form button {
    display: inline;
}

.signup {
    text-decoration: none;
}