.form_container {
    margin: 50px auto;
}



.login {
    width: 47%;
    padding: 1%;
    min-width: 400px;
    border: solid 0.5px;
    box-shadow: 2px 2px #0086ea;
    border-radius: 5px;
    text-align: center;
    height: fit-content;
    padding: 10px;
    margin: auto;
}

button {

    background-color: #0086ea;
    border: solod 1px black;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 2vw;
}

form {
    display: block;
    margin-top: 0em;

}

form input {
    width: 100%;
    box-shadow: 1px 2px #0086ea;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

select {
    width: 100%;
    box-shadow: 1px 2px #0086ea;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    text-align-last: center;
    padding-right: 29px;
    direction: rtl;
}

form button {
    width: 100%;
}

.signup {
    text-decoration: none;
}


#signup_b {
    float: right;
}

/* table structure */
.table_struct {
    width: 100%;
    display: table;
}

.table_cell {
    display: table-cell;
    padding: 1%;
    text-align: center;
}

#row_group {
    display: table-row-group;
}

.ind_row {
    display: table-row;
}

.modify_grade {
    width: 40%;
}