.student_feed {
    width: 90%;
    border: 1px solid black;
    margin-bottom: 1%;
    background-color: white;
    box-shadow: 1px 1px 5px #888888;
    padding: 1%;
}
.student_feed:hover {
  box-shadow: 1px 1px 10px #888888;
}
.feed_box h2 {
  margin-bottom: 1%;
}
