html, body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  height: 100%;
  background-color: rgb(247, 249, 249);
}
h1, h2, h3 {
  font-weight: normal;
}
.spacer {
  width: 100%;
  height: 10%;
}

/* NAVBAR */
.bar {
  width: 35px;
  height: 5px;
  background-color: rgb(249, 231, 159);
  margin: 7px 10px;
  transition: 0.4s;
}
.main-nav {
  text-align: center;
  overflow: hidden;
  background-color: rgb(255, 195, 0);
  position: fixed;
  width: 100%;
  top: 0;
}
.nav-buttn {
  text-align: center;
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}
.main-nav .nav-buttn:hover {
  color: white;
  background-color: rgb(255, 189, 51);
}
.nav-title {
  float: left;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.35rem;
}
.nav-title:hover {
  color: white;
}
.main-nav .icon {
  display: none;
}
/* for mobile  */
/* for iPad */
@media only screen and (max-width: 1100px) {
  .main-nav a:not(:first-child),
  .verticalnav .dropbtn {
    display: none;
  }
  .main-nav a.icon {
    float: right;
    display: block;
    margin-right: 10px;
    margin-top: 2px;
  }
  .main-nav.responsive {
    position: absolute;
  }

  .main-nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .main-nav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
  .main-nav.responsive .verticalnav {
    float: none;
  }
  .main-nav.responsive .verticalnav-content {
    position: relative;
  }
  .main-nav.responsive .verticalnav .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
  .nav-buttn {
    padding: 10px auto;
    margin: 0.5% auto;
  }
}
/* for smaller desktops */
@media only screen and (min-width: 1101px) {
  .nav-buttn {
    padding: 14px 8px;
  }
}
/* for larger desktops */
@media only screen and (min-width: 1250px) {
  .nav-buttn {
    padding: 14px 16px;
  }
}
/* NAVBAR END */

/* FOOTER */
footer {
  background-color: rgb(43, 44, 49);
  color: #f2f2f2;
}
.footer-title h1 {
  margin-top: 1%;
  width: 80%;
}
.footer-title h1, .footer-title a {
  margin-bottom: 1%;
}
#footer-course-title, #sheeza, #piyush {
  font-weight: bold;
}
#sheeza, #piyush {
  color: rgb(179, 182, 183);
  text-decoration: none;
}
#comp {
  font-size: 1.45rem;
  color: rgb(179, 182, 183);
  text-decoration: none;
}
#comp:hover, .footer-section a:hover, #sheeza:hover, #piyush:hover {
  color: #f2f2f2;
  transition: 0.4s;
}
.footer-nav {
  display: flex;
  margin: 0% 5%;
}
.footer-section {
  text-align: center;
  flex: 1;
}
.footer-section h3 {
  margin-bottom: -3%;
}
.footer-section ul {
  list-style-type: none;
  display: inline;
}
.footer-section a {
  color: rgb(179, 182, 183);
  text-align: center;
  text-decoration: none;
  font-size: 1.25rem;
}
.footer-bottom {
  display: flex;
  justify-content: space-around;
  margin: auto 5%;
}
/* for mobile */
/* for iPad */
@media only screen and (max-width: 1100px) {
  .footer-section {
    display: none;
  }
  .footer-bottom {
    display: inline-block;
  }
}
/* FOOTER END */

/* HOMEPAGE */
.main-page {
  display: flex;
  /* background-color: rgb(244, 246, 247); */
}
.latest-news-scroll {
  border: 2px solid black;
  padding: 10px;
  height: 25%;
  overflow: hidden;
  overflow-y: scroll;
  margin: auto 2%;
}
.notes-title {
  margin: 1% 2%;
}
.main-leftside {
  flex: 3;
}
.main-rightside {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.main-page-box {
  border: 2px solid black;
  padding: 10px;
  border-radius: 50px 2px;
  margin-bottom: 20px;
}
