button {
  padding: 2%;
  border-radius: 10px;
  font-size: 1.1rem;
  background-color: rgb(208, 211, 212);
  box-shadow: 1px 1px 5px #888888;
  width: 100%;
}
button:hover {
  box-shadow: 1px 1px 10px #888888;
}
/* table structure */
/* bc we are not allowed to use tables in a3 as per @285 on piazza */
.table_struct {
    width: 100%;
    display: table;
}
.table_cell {
    display: table-cell;
    padding: 1%;
    text-align: center;
}
#row_group {
    display: table-row-group;
}
.ind_row {
    display: table-row;
}
.modify_grade {
    height: 40%;
    width: 60%;
    border-radius: 3px;
    box-shadow: 1px 1px 5px rgb(174, 214, 241);
    border: 1px solid black;
    text-align: center;
    padding: 10%;
    font-size: 1rem;
    margin-top: 1%;
}
