.lab-week,
.lab-resources {
  border-radius: 5px;
  box-shadow: 1px 2px #0086ea;
  border: 1px solid black;
  padding: 1%;
  background-color: white;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 100%;
}

.lab-week h2 {
  margin-bottom: 1%;
}

.lab-week-date {
  background-color: rgba(52, 152, 219, 0.5);
  border-radius: 10px;
}

.lab-resources a {
  text-decoration: none;
  background-color: rgb(31, 97, 141);
  color: #f2f2f2;
  padding: 1%;
  border-radius: 8px;
}

.lab-resources a:hover {
  background-color: rgb(52, 152, 219);
}

/* for mobile */
/* for iPad */
@media only screen and (max-width: 999px) {

  .lab-week,
  .lab-resources {
    margin-bottom: 2%;
  }
}

/* for desktop */
@media only screen and (min-width: 1000px) {
  .lab-weeks {
    display: flex;
  }

  .lab-week,
  .lab-resources {
    flex: 1;
  }

  .lab-week {
    margin-right: 2%;
    width: 20%;
  }
}


.box {
  width: 98%;
  border-radius: 2%;
  box-shadow: 2px 2px #0086ea;
}