<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>CSCB20 | UTSC</title>
  <link rel="stylesheet" href="../static/css/index.css">

</head>

<body>
  <div class="main-nav" id="main-nav-id">
    <a class="nav-title" href="index.html">CSCB20</a>
    <a class="nav-buttn" href="latest-news.html">Latest News</a>
    <a class="nav-buttn" href="assignments.html">Assignments</a>
    <a class="nav-buttn" href="www.piazza.com">Piazza</a>
    <a class="nav-buttn" href="https://markus.utsc.utoronto.ca">Markus</a>
    <a class="nav-buttn" href="feedback.html">Anon Feedback</a>
    <a class="nav-buttn" href="syllabus.html">Syllabus</a>
    <a class="nav-buttn" href="labs.html">Labs</a>
    <a class="nav-buttn" href="course-team.html">Course Team</a>
    <a class="nav-buttn" href="calender.html">calender</a>
    <!-- <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">
      <div class=" bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </a> -->
  </div>



  <div class="main-assign-page">
    <div class="assign-title">
      <h1>Assignments:-</h1>
    </div>
    <div class="main-assignments">

      <!-- <div class="main-page-box">
        <h3>Quote of the Day</h3>
        <p>A v inspiring quote here (rmr to put ASCII quotes)</p>
      </div> -->
      <div class="Assignment-1">
        <h3>Assignment 1</h3>
        <div class="due_date">
          <h3>Due: Saturday Feb 8, 11:59PM</h3>
          <h2></h2>
        </div>
        <div class="briefing"><input id="brief-checkbox" type="checkbox">
          <label for="brief" id="brief">Briefing: You will be working on HTML only</label></div>

        <div class="change-button-container">
          <div class="change_buttons"><input type="checkbox" id="brief-checkbox" />
            <label id="brief" for="brief-checkbox">Briefing</label></div>
          <div class="change_buttons"><input type="checkbox" id="brief-checkbox" />
            <label id="brief" for="brief-checkbox">Instructions</label></div>
        </div>
      </div>
      <div class="Assignment-1">
        <h3>Assignment 2</h3>
        <div class="due_date">
          <h3>Due: Saturday March 14, 11:59PM</h3>
          <h2></h2>
        </div>
        <div class="briefing2"><input id="brief2-checkbox" type="checkbox">
          <label for="brief2" id="brief2">Briefing: You will be working on HTML only</label></div>

        <div class="change-button-container">
          <div class="change_buttons"><input type="checkbox" id="brief2-checkbox" />
            <label id="brief2" for="brief2-checkbox">Briefing</label></div>
          <div class="change_buttons"><input type="checkbox" id="brief2-checkbox" />
            <label id="brief2" for="brief2-checkbox">Instructions</label></div>
        </div>
      </div>

      <div class="Assignment-1">
        <h3>Assignment 3</h3>
        <div class="due_date">
          <h3>Due: TBA</h3>
          <h2></h2>
        </div>
        <div class="briefing3"><input id="brief3-checkbox" type="checkbox">
          <label for="brief3" id="brief3">Briefing: You will be working on HTML only</label></div>
        <div class="change-button-container">
          <div class="change_buttons"><input type="checkbox" id="brief3-checkbox" />
            <label id="brief3" for="brief3-checkbox">Briefing</label></div>
          <div class="change_buttons"><input type="checkbox" id="brief3-checkbox" />
            <label id="brief3" for="brief3-checkbox">Instructions</label></div>
        </div>
      </div>


    </div>


  </div>

  <footer>
    <div class="footer-nav">
      <div class="footer-title">
        <h1>CSCB20</h1>
        <h1>Introduction to Databases and Web Applications</h1>
        <a class="comp" href="https://www.utsc.utoronto.ca/cms/computer-science-1">Department of Computer Science at
          UofT</a>
      </div>
      <div class="footer-section">
        <h3>Course Content</h3>
        <ul>
          <li><a href="#">Latest News</a></li>
          <li><a href="#">Assignments</a></li>
          <li><a href="#">Labs</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>Resources</h3>
        <ul>
          <li><a href="#">Syllabus</a></li>
          <li><a href="#">Piazza</a></li>
          <li><a href="#">Markus</a></li>
        </ul>
      </div>
      <div class="footer-section last-footer-section">
        <h3>Contact Us</h3>
        <ul>
          <li><a href="course-team.html">Course Team</a></li>
          <li><a href="#">Anon Feedback</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <p>By Sheeza Aziz and Piyush Ukni</p>
      <p>CSCB20H3 Winter 2020</p>
    </div>
  </footer>

</body>

</html>