<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>CSCB20 | UTSC</title>
  <link rel="stylesheet" href="../static/css/index2.css">
</head>

<body>
  <div class="main-nav" id="main-nav-id">
    <a class="nav-title" href="index.html">CSCB20</a>
    <a class="nav-buttn" href="latest-news.html">Latest News</a>
    <a class="nav-buttn" href="assignments.html">Assignments</a>
    <a class="nav-buttn" href="https://piazza.com/">Piazza</a>
    <a class="nav-buttn" href="https://markus.utsc.utoronto.ca">Markus</a>
    <a class="nav-buttn" href="feedback.html">Anon Feedback</a>
    <a class="nav-buttn" href="syllabus.html">Syllabus</a>
    <a class="nav-buttn" href="labs.html">Labs</a>
    <a class="nav-buttn" href="course-team.html">Course Team</a>
    <a class="nav-buttn" href="calender.html">Calender</a>
    <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </a>
  </div>
  <script>
    function myFunction() {
      var x = document.getElementById("main-nav-id");
      if (x.className === "main-nav") {
        x.className += " responsive";
      } else {
        x.className = "main-nav";
      }
    }
  </script>
  <div class="spacer">
    &nbsp;
  </div>



  <div class="page-container">
    <h1>Feedback from Students!</h1>
  </div>
  </div>

  <div id="student-feedback" class="container-2">
    <div class="template">
      <strong>
        <ul>
          {% for feedback in data %}
          <li>{{feedback[1]}}</li>
          {% endfor %}
        </ul>
      </strong>
    </div>
  </div>

  <footer>
    <div class="footer-nav">
      <div class="footer-title">
        <h1 id="footer-course-title">CSCB20</h1>
        <h1>Introduction to Databases and Web Applications</h1>
        <a id="comp" href="https://www.utsc.utoronto.ca/cms/computer-science-1">Department of Computer Science at
          UofT</a>
      </div>
      <div class="footer-section">
        <h3>Course Content</h3>
        <ul>
          <li><a href="latest-news.html">Latest News</a></li>
          <li><a href="assignments.html">Assignments</a></li>
          <li><a href="labs.html">Labs</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>Resources</h3>
        <ul>
          <li><a href="syllabus.html">Syllabus</a></li>
          <li><a href="https://piazza.com/">Piazza</a></li>
          <li><a href="https://markus.utsc.utoronto.ca/">Markus</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>Contact Us</h3>
        <ul>
          <li><a href="course-team.html">Course Team</a></li>
          <li><a href="feedback.html">Anon Feedback</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <p>Made with ☕ By <a id="sheeza" href="https://www.linkedin.com/in/sheeza-aziz/">Sheeza Aziz</a> and <a
          id="piyush" href="#">Piyush Ukni</a></p>
      <p>CSCB20H3 Winter 2020</p>
    </div>
  </footer>

</body>

</html>
