<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>CSCB20 | UTSC</title>
  <link rel="stylesheet" href="../static/css/index.css">
  <link rel="shortcut icon" href="../static/photos/UofT_tree_with_colours.png" type="image/x-icon">


</head>

<body>
  <div class="main-nav" id="main-nav-id">
    <a class="nav-title" href="index">CSCB20</a>
    <a class="nav-buttn" href="latest-news">Latest News</a>
    <a class="nav-buttn" href="assignments">Assignments</a>
    <a class="nav-buttn" href="www.piazza.com">Piazza</a>
    <a class="nav-buttn" href="https://markus.utsc.utoronto.ca">Markus</a>
    <a class="nav-buttn"href="feedback">Feedback</a>
    <a class="nav-buttn" href="syllabus">Syllabus</a>
    <a class="nav-buttn" href="labs">Labs</a>
    <a class="nav-buttn" href="course-team">Course Team</a>
    <a class="nav-buttn" href="calender">Calender</a>
    <a class="nav-buttn login_button" id="login_button" href="{{login_button}}">{{login_button}}</a>
     <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">
      <div class=" bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </a> 
  </div>


   <script>
    function myFunction() {
      var x = document.getElementById("main-nav-id");
      if (x.className === "main-nav") {
        x.className += " responsive";
      } else {
        x.className = "main-nav";
      }
    }
  </script>



  <div class="main-page">

    <div class="main-leftside">
      <div class="title-pic">
        <!-- Photo by Paweł Czerwiński on Unsplash -->
        <h1 align="center" class="main-title">CSCB20 - Introduction to Databases and Web Applications</h1>
        <h1 align="center" class="main-title">Winter 2020</h1>
      </div>
      <h2 class="notes-title">Latest News:-</h2>
      <div class="latest-news-scroll">
        <div class="news-item">
          <h2>A2 is posted</h2>
          <span class="news-item-date">Monday, March 9</span>
          <p>A2 is now out! Please start this assignment early as it is not one to procrasinate on. Lorem ipsum dolor
            sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
        <div class="news-item">
          <h2>Midterm details and room allocation</h2>
          <span class="news-item-date">Monday, March 9</span>
          <p>Midterm details will be posted 1 week prior to the exam. For midterm room allocations, please visit
            piazza. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua.</p>
        </div>
        <div class="news-item">
          <h2>A1 is graded</h2>
          <span class="news-item-date">Monday, March 9</span>
          <p>A1 is now graded. If you have any feedback on the assignment difficulty, please provide us with your
            anonymous feedback here. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="news-item">
          <h2>Lorem ipsum</h2>
          <span class="news-item-date">Monday, March 9</span>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.</p>
        </div>
      </div>
      <div class="course-info">
        <h2 class="course-des-title">-:Course Description:-</h2>
        <p class="course-des">A practical introduction to databases and Web app development. Databases:
          terminology and applications;
          creating, querying and updating databases; the entity-relationship model for database design. Web documents
          and applications: static and interactive documents; Web servers and dynamic server-generated content; Web
          application development and interface with databases.
          <p class="course-des">Prerequisite Some experience with programming in an imperative language such as Python,
            Java or C.</p>
          <p class="course-des">Exclusion This course may not be taken after - or concurrently with - any C- or D-level
            CSC course.</p>
          <p class="course-des">Syllabus: <a href="../static/PDFs/syllabus.pdf">Link</a></p>
          <h2 class="instruct-title">-:Instructor:-</h2>
          <p class="instruct-des">Dr. Anna Bretscher</p>
          <p class="instruct-des">Email:her email link</p>
          <p class="instruct-des">Office:IC493</p>
          <p class="instruct-des">Phone:416 208 4745</p>
          <p class="instruct-des">Lectures:Mondays 9:15-11:00 in HW 216</p>
          <p class="instruct-des last-p">Office Hours:W 11:00-12:00</p>
      </div>
    </div>
    <div class="main-rightside">
      <!-- <div class="main-page-box">
        <h3>Quote of the Day</h3>
        <p>A v inspiring quote here (rmr to put ASCII quotes)</p>
      </div> -->
      <div class="main-page-box">
        <h3>Academic Integrity</h3>
        <p>All of the work you submit must be done by you, and your work must not be submitted by someone else.
          Plagiarism is academic fraud and is taken very seriously. The department uses software that compares
          programs for evidence of similar code. Please read the Rules and Regulations from the U of T Governing
          Council, especially the Code of Behaviour on Academic Matters.</p>
        <p>Please also see the information for students from the Office of Student Academic Integrity.</p>
      </div>
      <div class="main-page-box-even">
        <h3>Accessibility Statement</h3>
        <p>Students with diverse learning styles and needs are welcome in this course. In particular, if you have a
          disability/health consideration that may require accommodations, please feel free to approach your
          instructor, course coordinator, and/or the AccessAbility Services Office as soon as possible. I will work
          with you and AccessAbility Services to ensure you can achieve your learning goals in this course. Enquiries
          are confidential.</p>
      </div>
      <div class="main-page-box">
        <h3>Acknowledgements</h3>
        <p>copied cscb20 anya, csca08 anna lorem</p>
      </div>
      <div class="main-page-box-even">
        <h3>Lern YourSelf</h3>
        <p>CSS: <a href="https://css-tricks.com/">css-tricks.com</a></p>
      </div>
    </div>
  </div>

  <footer>
    <div class="footer-nav">
      <div class="footer-title">
        <h1>CSCB20</h1>
        <h1>Introduction to Databases and Web Applications</h1>
        <a class="comp" href="https://www.utsc.utoronto.ca/cms/computer-science-1">Department of Computer Science at
          UofT</a>
      </div>
      <div class="footer-section">
        <h3>Course Content</h3>
        <ul>
          <li><a href="#">Latest News</a></li>
          <li><a href="#">Assignments</a></li>
          <li><a href="#">Labs</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>Resources</h3>
        <ul>
          <li><a href="#">Syllabus</a></li>
          <li><a href="#">Piazza</a></li>
          <li><a href="#">Markus</a></li>
        </ul>
      </div>
      <div class="footer-section last-footer-section">
        <h3>Contact Us</h3>
        <ul>
          <li><a href="course-team.html">Course Team</a></li>
          <li><a href="#">Anon Feedback</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <p>By Sheeza Aziz and Piyush Ukni</p>
      <p>CSCB20H3 Winter 2020</p>
    </div>
  </footer>

</body>

</html>