<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CSCB20 | Latest News</title>
    <link rel="stylesheet" href="index.css">
  </head>
  <body>
    <div class="page-container">
    <h1 id="latest-news-page-title">Latest Course News</h1>
    <div class="news-item">
      <h2>A2 is posted</h2>
      <span class="news-item-date">Monday, March 9</span>
      <p>A2 is now out! Please start this assignment early as it is not one to procrasinate on. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="news-item">
      <h2>Midterm details and room allocation</h2>
      <span class="news-item-date">Monday, March 9</span>
      <p>Midterm details will be posted 1 week prior to the exam. For midterm room allocations, please visit piazza. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="news-item">
      <h2>A1 is graded</h2>
      <span class="news-item-date">Monday, March 9</span>
      <p>A1 is now graded. If you have any feedback on the assignment difficulty, please provide us with your anonymous feedback here. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="news-item">
      <h2>Lorem ipsum</h2>
      <span class="news-item-date">Monday, March 9</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="news-item">
      <h2>A2 is posted</h2>
      <span class="news-item-date">Monday, March 9</span>
      <p>A2 is now out! Please start this assignment early as it is not one to procrasinate on. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="news-item">
      <h2>Midterm details and room allocation</h2>
      <span class="news-item-date">Monday, March 9</span>
      <p>Midterm details will be posted 1 week prior to the exam. For midterm room allocations, please visit piazza. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="news-item">
      <h2>A1 is graded</h2>
      <span class="news-item-date">Monday, March 9</span>
      <p>A1 is now graded. If you have any feedback on the assignment difficulty, please provide us with your anonymous feedback here. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="news-item">
      <h2>Lorem ipsum</h2>
      <span class="news-item-date">Monday, March 9</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>

  </body>
</html>
