<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>CSCB20 | UTSC</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,700&display=swap" rel="stylesheet">
  <!-- <link rel="stylesheet" href="../static/css/index2.css"> -->
  <link rel="stylesheet" href="../static/css/the-index.css">
  <link rel="stylesheet" href="../static/css/student_info.css">
  <link rel="shortcut icon" href="../static/photos/UofT_tree_with_colours.png" type="image/x-icon">


</head>

<body>
  <div class="main-nav" id="main-nav-id">
    <a class="nav-title" href="index">CSCB20</a>
    <a class="nav-buttn" href="index">Home</a>
<a class="nav-buttn" href="yourinfo">Dashboard</a>
    <a class="nav-buttn" href="assignments">Assignments</a>
    <a class="nav-buttn" href="https://www.piazza.com">Piazza</a>
    <a class="nav-buttn" href="https://markus.utsc.utoronto.ca">Markus</a>
    <a class="nav-buttn" href="feedback">Feedback</a>
    <a class="nav-buttn" href="syllabus">Syllabus</a>
    <a class="nav-buttn" href="labs">Labs</a>
    <a class="nav-buttn" href="course-team">Course Team</a>
    <a class="nav-buttn" href="calender">Calender</a>
    <a class="nav-buttn login_button" id="login_button" href="{{login_button}}">{{login_button}}</a><a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </a>
  </div>
  <div class="spacer">
    &nbsp;
  </div>



  <div class="page-container">
    <h1>Dashboard</h1>
    <h3>Welcome to your dashboard, {{name}} 💻</h3>

    <div class="dashboard-row">
      <div class="dashboard-col">
        <h2>Your Marks</h2>

        {% for assignment in data %}
        <div class="student_marks">
          <div><strong>{{ assignment[0] }}</strong>: {{assignment[1]}}</div>
          </br>
        </div>
        {% endfor %}
      </div>

      <div class="dashboard-col">
        <h2>Remark Request</h2>
        <form action="/remark" method="post">
          <h3>Please select the evaluation you would like to be remarked:</h3>
          <select name="assignment">
            {% for assignment in data %}
            <option>{{ assignment[0] }}</option>
            {% endfor %}
          </select>
          <h3>Please provide a detailed explanation for your remark request: </h3>
          <textarea class="box" placeholder="Please explain your remark request.." name="reasons"
            rows="8" cols="50"></textarea><br>
          <button type="submit">Submit Request</button>
        </form>
      </div>
    </div>
  </div>

  <footer>

    <div class="footer-nav">
      <div class="footer-title">
        <h1 id="footer-course-title">CSCB20</h1>
        <h1>Introduction to Databases and Web Applications</h1>
        <a id="comp" href="https://www.utsc.utoronto.ca/cms/computer-science-1">Department of Computer Science at
          UofT</a>
      </div>
      <div class="footer-bottom">
        <p>Made with ☕ By <a id="sheeza" href="https://www.linkedin.com/in/sheeza-aziz/">Sheeza Aziz</a> and <a
            id="piyush" href="#">Piyush Ukni</a></p>
        <p>CSCB20H3 Winter 2020</p>
      </div>
    </div>
  </footer>
  <script src="../static/js/jquery.js"></script>
  <script src="../static/js/java.js"></script>
</body>

</html>
